.chart text {
  text-anchor: end;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

text {
	font-family: "Helvetica Neue", Helvetica;
	color: black;
	font-weight: 100;
	font-size: 9px;
	fill: black;
	text-anchor: end;
	opacity: 1;
}

.footer {
	font-family: "Helvetica Neue", Helvetica;
	color: black;
	font-weight: 100;
	position: relative;
	top: 37.5%;
	left: 2%;
}

.bar text {
	color:black;
}

.title {
	padding-bottom: 20px;
}

select {
	position: absolute;
	left: 875px;
	top: 490px;
}

.chart {
	position: absolute;
	top: 5%;
	left: 3%;
}

.chart2 {
	position: absolute;
	top: 44%;
	left: 3%;
}

.btn-group {
	position: relative;
	left: 13%;
	top: 680px;
}

button .btn {
	font-family: "Helvetica Neue", Helvetica;
	font-size: 6px;

}

.datamap {
	position: absolute;
	left: 15px;
	top:3%;
}

#map {
	position: absolute;
	left: 47%;
	top: 30px;
}

.datamaps-legend {
	position: absolute;
	left: 35%;
	top: 45px;
}

.second {
	position: absolute;
	top: 708px;
}

.third {
	position: relative;
	top:728px;
	left: -310px;
}


