svg {
   font-family: "Helvetica Neue", Helvetica;
   color: gray;
   font-weight: 400;
   font-size: 35px;
}

.chart text {
  text-anchor: end;
}

.axis {
  font: 25px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

text {
	font-family: "Helvetica Neue", Helvetica;
	color: white;
	font-weight: 150;
	font-size: 10px;
}